.container {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  font-size: 30px;
  color: #343a40;
}

thead tr {
  background-color: #087f5b;
  color: #fff;
}

table {
  border-collapse:collapse;
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

tbody td,
thead th {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.table-id {
  font-weight: 600;
  padding: 20px;
}

.main-imgs {
  display: flex;
  max-width: 300px;
}